.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout-ad{
    margin-bottom: 10px;
    width: 100%;
    /* height: 200px; */
}


.checkout-title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    color: rgb(53, 51, 51);
}

.checkout-basket-icon{
    font-size: 35px !important;
    margin-right: 10px;
}